---
import { Card } from '@astrojs/starlight/components';
---

<Card title="An in Depth Example">
    <p>This guide also has an in depth example of a working application built with EventFabric. Combining DDD, CQRS and Event Sourcing.</p>
    <p>Check out the <a href="/EventFabric/guides/in-depth-example">In Depth Example</a> page to learn how everything is connected and works out in a real-world application.</p>
</Card>
